{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Upload your medical reports') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Upload your birth or adoption certificate') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload the original or certified copy of your birth or adoption certificate.') }}
            </p>
            <p class="govuk-body">
                {{ _('Please upload a scan or good quality photograph of the certificate.') }}
            </p>

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names,
                extra_upload_hint=extra_upload_hint,
                lang_code=lang_code)
            }}

        </div>
    </div>
{% endblock %}
