{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Upload evidence of living in your gender') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Upload evidence of living in your gender') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload evidence to show you’ve been living in your affirmed gender for the last 2 years.') }}
            </p>
            <p class="govuk-body">
                {{ _('For example, if you submit your application today, you will need evidence from') }}
                {{ date_two_years_ago.strftime('%B %Y') }}
                {{ _('to') }}
                {{ date_now.strftime('%B %Y') }}.
            </p>
            <p class="govuk-body">
                {{ _('Find out more about the') }}
                <a href="https://www.gov.uk/apply-gender-recognition-certificate/what-documents-you-need#evidence-of-living-in-your-gender-for-the-last-2-years" target="_blank" class="govuk-link">
                    {{ _('evidence of living in your gender you need (opens in new tab)') }}
                </a>.
            </p>
            <p class="govuk-body">
                {{ _('Please upload a scan or good quality photograph of each piece of evidence.') }}
            </p>

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {% macro extra_upload_hint() %}
                <div class="govuk-inset-text">
                    {{ _('Do not upload more than 4 pieces of evidence for each year.') }}
                    {{ _('Do not upload a document you have already submitted, such as a medical report.') }}
                </div>
            {%- endmacro %}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names,
                extra_upload_hint=extra_upload_hint,
                lang_code=lang_code)
            }}

        </div>
    </div>
{% endblock %}
