{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Upload marriage or civil partnership documents') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Upload marriage or civil partnership documents') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload copies of your marriage or civil partnership documents.') }}
            </p>
            <p class="govuk-body">
                {{ _('Find out more about the') }}
                <a href="https://www.gov.uk/apply-gender-recognition-certificate/what-documents-you-need#if-youve-ever-been-married-or-been-in-a-civil-partnership"
                   target="_blank" class="govuk-link">
                    {{ _('documents you need if you’ve ever been married or in a civil partnership (opens in new tab)') }}
                </a>.
            </p>
            {{ upload_files_section.renderGoodQualityStatement() }}

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names)
            }}

        </div>
    </div>
{% endblock %}
