{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Upload your medical reports') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Upload your medical reports') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload your 2 medical reports.') }}
            </p>
            <p class="govuk-body">
                {{ _('Find out more about the') }}
                <a href="https://www.gov.uk/apply-gender-recognition-certificate/what-documents-you-need#medical-reports-from-the-uk"
                   target="_blank" class="govuk-link">
                    {{ _('medical reports you need (opens in new tab)') }}
                </a>.
            </p>
            <p class="govuk-body">
                {{ _('You must upload a scan or good quality photograph of the whole medical report.') }}
                {{ _('If the report is longer than one page, you must upload every page.') }}
            </p>

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {% macro extra_upload_hint() %}
                <p class="govuk-body">
                    {{ _('Please upload the files in page order if you can.') }}
                </p>
            {% endmacro %}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names,
                extra_upload_hint=extra_upload_hint,
                lang_code=lang_code)
            }}

        </div>
    </div>
{% endblock %}
