{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Upload name change documents') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Upload name change documents') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload copies of all documents that show when you have changed your name to reflect your gender.') }}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                {{ _('You can upload:') }}
            </p>
            <ul class="govuk-body govuk-list govuk-list--bullet">
                <li>{{ _('deed poll documents, either enrolled or unenrolled') }}</li>
                <li>{{ _('change of name documents (Scotland)') }}</li>
                <li>{{ _('statutory declarations') }}</li>
            </ul>
            {{ upload_files_section.renderGoodQualityStatement() }}

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names,
                lang_code=lang_code)
            }}

        </div>
    </div>
{% endblock %}
