{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "upload/_upload-files-section.html" as upload_files_section %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Statutory declarations documents') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('taskList.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Statutory declarations documents') }}
            </h1>
            <p class="govuk-body">
                {{ _('This is where you can upload copies of all required statutory declarations.') }}
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                {{ _('You must upload either:') }}
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ _('a statutory declaration for single applicants') }}</li>
                <li>{{ _('a statutory declaration for applicants who are married or in a civil partnership') }}</li>
            </ul>
            <p class="govuk-body">
                {{ _('If you fill out the statutory declaration for applicants who are married or in a civil partnership
                and you intend to stay in that marriage or civil partnership after you receive a certificate,
                you must also upload a statutory declaration signed by your spouse or civil partner.') }}
            </p>
            <p class="govuk-body">
                {{ _('Follow the') }}
                <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants"
                   target="_blank" class="govuk-link">
                    {{ _('guidance on statutory declarations (opens in a new tab)') }}
                </a>
                {{ _('to find out which declaration is right for you and who can act as a witness when you sign your declaration.') }}
            </p>

            {{ upload_files_section.renderGoodQualityStatement() }}

            {{ upload_files_section.renderWarning() }}

            {{ upload_files_section.renderPrivacyPolicyStatement() }}

            {{ upload_files_section.render(
                form,
                deleteform,
                deleteAllFilesInSectionForm,
                currently_uploaded_files=currently_uploaded_files,
                section_url=section_url,
                duplicate_aws_file_names=duplicate_aws_file_names,
                lang_code=lang_code)
            }}

        </div>
    </div>
{% endblock %}
