{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _("Is your father's name listed on the certificate?") }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='fathers_name_on_certificate',
                    question=_("Is your father's name listed on the certificate?"),
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>
        </div>
    </div>
{% endblock %}
