{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('What name was originally registered on your birth or adoption certificate?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {{ _('What name was originally registered on your birth or adoption certificate?') }}
                            </h1>
                        </legend>

                        {{ textInput.renderFor(
                            form,
                            fieldName='first_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('First name') },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'given-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='middle_names',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Middle names (only required if you have middle names)') },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'additional-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='last_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Last name') },
                                'hintOptions': { 'htmlOrText': _('If there is no last name on the certificate, use the last name of a parent or adoptive parent.') },
                                'classes': 'govuk-input--width-20',
                                'autocomplete': 'family-name'
                            }
                        ) }}
                    </fieldset>
                </div>

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
