{% extends 'base.html' %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('What is the town or city of birth on your birth or adoption certificate?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    {% import "govuk-design-system-templates/error-summary.html" as error_summary %}
    {% import "govuk-design-system-templates/text-input.html" as textInput %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='place_of_birth',
                    textInputForOptions={
                        'labelOptions': {
                            'htmlOrText': _('What is the town or city of birth on your birth or adoption certificate?'),
                            'isPageHeading': true,
                            'classes': 'govuk-label--l'
                        },
                        'classes': 'govuk-!-width-three-quarters'
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
