{% extends 'base.html' %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Was your birth registered in the UK?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    {% import "govuk-design-system-templates/error-summary.html" as error_summary %}
    {% import "govuk-design-system-templates/radios.html" as radios %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='birth_registered_in_uk',
                    question=_("Was your birth registered in the UK?"),
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions':{
                            'htmlOrText': _('Select yes if you have a UK birth or adoption certificate or your birth
                                           was registered by the Forces registering service, a British Consul or
                                           High Commission, or under Merchant Shipping or Civil Aviation provisions.')
                        }
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
