{% macro renderError() %}

    <div id="errorMessage" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" style="display:None;">
        <h2 id="error-summary-title" class="govuk-error-summary__title">
            There is a problem with registering a new case
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#tab_new">
                        One or more cases could not be automatically registered
                    </a>
                </li>
                <li>
                    <a href="#tab_new">
                        Please try again or register the case manually to GLiMR
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endmacro %}