{% extends 'base.html' %}
{% import "contact-admin.html" as contact_admin %}

{% block title %}{{ _('Page not found') }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ _('Page not found') }}
            </h1>
            <p class="govuk-body">
                {{ _('If you typed the web address, check it is correct.') }}
            </p>
            <p class="govuk-body">
                {{ _('If you pasted the web address, check you copied the entire address.') }}
            </p>
            <p class="govuk-body">
                {{ _('If the web address is correct or you selected a link or button, contact the admin team if you need help with your application.') }}
            </p>
            {{ contact_admin.render() }}

        </div>
    </div>
{% endblock %}
