{% extends 'base.html' %}
{% import "contact-admin.html" as contact_admin %}

{% block title %}{{ _('Sorry, the service is unavailable') }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ _('Sorry, the service is unavailable') }}
            </h1>
            <p class="govuk-body">
                {{ _('The rate limit for this page has been exceeded. Please try again later') }}
            </p>
            {{ contact_admin.render() }}

        </div>
    </div>
{% endblock %}