{% extends 'base.html' %}

{% block title %}One Login - Callback{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">You have proven your identity</h1>

    <h2 class="govuk-heading-m">Name</h2>
    <p class="govuk-body">{{ name }}</p>

    <h2 class="govuk-heading-m">Birth Date</h2>
    <p class="govuk-body">{{ dob }}</p>

    <h2 class="govuk-heading-m">Email</h2>
    <p class="govuk-body">{{ email }}</p>

    <h2 class="govuk-heading-m">Phone Number</h2>
    <p class="govuk-body">{{ phone }}</p>

    <h2 class="govuk-heading-m">Address</h2>
    <p class="govuk-body">{{ address }}</p>

    <h2 class="govuk-heading-m">Driving Permit</h2>
    {% if driving_permit %}
        <p class="govuk-body">{{ driving_permit }}</p>
    {% else %}
        <p class="govuk-body">No driving permit information available.</p>
    {% endif %}

    <h2 class="govuk-heading-m">Passport</h2>
    {% if passport %}
        <p class="govuk-body">{{ passport }}</p>
    {% else %}
        <p class="govuk-body">No passport information available.</p>
    {% endif %}

{% endblock %}