{% extends 'base.html' %}
{% import "contact-admin.html" as contact_admin %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/back_link.html" as back %}

{% block title %}{{ _('This application has already been submitted') }}{% endblock %}

{% block backLink %}
    {{ back.renderFor('startApplication.isFirstVisit') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    {{ _('An application with this reference number has already been submitted') }}
                </h1>
            </div>

            <p class="govuk-body">
                {{ _('Contact the admin team if you need help with your application.') }}
            </p>
            {{ contact_admin.render() }}

        </div>
    </div>
{% endblock %}
