{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/continue.html" as continue %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}

{% block title %}{{ _('Email address') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderFor('startApplication.backFromEmail') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Email address') }}
            </h1>

            <p class="govuk-body">
                {{ _('You need to provide an email address to continue your application so we can save your progress and you can exit and return to your application later.') }}
            </p>

            <form method="POST">
                {{ form.hidden_tag() }}

                {{ textInput.renderFor(
                    form,
                    fieldName='email',
                    textInputForOptions={
                        'labelOptions': { 'htmlOrText': _('What is your email address?') },
                        'classes': 'govuk-input--width-20',
                        'autocomplete': 'email',
                        'attributes': [ ('spellcheck', 'false') ]
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
