{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Email address') }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Email address') }}
            </h1>

            <p class="govuk-body">
                {{ _('This is new text') }}.
            </p>
            
            <div class="govuk-inset-text">
                {{ _('Before you start, make sure you have read the guidance on') }}
                <a href="https://www.gov.uk/apply-gender-recognition-certificate" target="_blank" class="govuk-link">
                    {{ _('applying for a Gender Recognition Certificate (opens in a new tab)') }}
                </a>.
            </div>


            <form method="POST">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='email',
                    textInputForOptions={
                        'labelOptions': { 'htmlOrText': _('What is your email address?') },
                        'classes': 'govuk-input--width-20',
                        'autocomplete': 'email',
                        'attributes': [ ('spellcheck', 'false') ]
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
