{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/back_link.html" as back %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Have you already started an application?') }}{% endblock %}

{% block backLink %}
    {{ back.renderFor('startApplication.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="{{ url_for('startApplication.isFirstVisit') }}">
                {{ form.csrf_token }}

                {% macro lostReferenceHtmlBlock() %}
                    <p class="govuk-hint">
                        {{ _('You will need to start a new application') }}
                    </p>
                {% endmacro %}
                {{ radios.renderFor(
                    form,
                    fieldName='isFirstVisit',
                    question=_("Have you already started an application?"),
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'conditionalOptions': [
                            ('HAS_REFERENCE',
                            textInput.renderFor(
                                form,
                                fieldName='reference',
                                textInputForOptions={
                                    'labelOptions': { 'htmlOrText': _('Reference number') },
                                    'classes': 'govuk-input--width-10'
                                }
                            )),
                            ('LOST_REFERENCE', lostReferenceHtmlBlock())
                        ]
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
