{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Have you ever been issued a Gender Recognition Certificate (or its equivalent) in another country?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='overseasCheck',
                    question=_("Have you ever been issued a Gender Recognition Certificate (or its equivalent) in another country?"),
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
