{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Gender recognition in approved countries and territories') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Gender recognition in approved countries and territories') }}
            </h1>

            <p class="govuk-body">
                {{ _('If you have ever been issued a Gender Recognition Certificate (or its equivalent) in an approved country or territory, you will need to provide official documentation that shows this') }}.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                {{ _('This could be') }}:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ _('a document equal to a Gender Recognition Certificate') }}</li>
                <li>{{ _('an updated birth certificate') }}</li>
                <li>{{ _('a court order') }}</li>
                <li>{{ _('an entry in a legal register') }}</li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-8">
                {{ _('If you have received gender recognition from somewhere else, or you can’t provide this documentation, you will need to provide medical reports and evidence of living in your gender for 2 years instead') }}.
            </p>

            <h2 class="govuk-heading-m">
                {{ _('List of approved countries and territories') }}
            </h2>
            {% if countries %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                {% for country in countries %}
                <li>{{ country }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='overseasApprovedCheck',
                    question=_("Do you have official documentation that shows you have ever been issued a Gender Recognition Certificate (or its equivalent) in one of these countries or territories?"),
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m',
                        'hintOptions': {
                            'htmlOrText': _("Select ‘No’ if you have received gender recognition from somewhere else, or you can’t provide this documentation.")
                        }
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
