{% extends 'base.html' %}
{% import "contact-admin.html" as contact_admin %}

{% block title %}{{ _('Application submitted') }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    {{ _('Application submitted') }}
                </h1>
                <div class="govuk-panel__body">
                    {{ _('You should post all remaining documents to us as soon as possible') }}
                </div>
            </div>

            <p class="govuk-body">
                {{ _('We have sent you a confirmation email.') }}
            </p>

            <h2 class="govuk-heading-m">
                {{ _('What you need to do next') }}
            </h2>
            <p class="govuk-body">
                {{ _('Post your birth or adoption certificate to us as soon as possible – include your name, address and application reference number so we can match it to your application.') }}
                {{ context.birth_cert_copy_link }}
            </p>

            {% if application_data.submit_and_pay_data.is_using_ex160_form %}
                <p class="govuk-body">
                    {{ context.ex160_link }}
                </p>
            {% endif %}

            <p class="govuk-body govuk-!-margin-bottom-2">
                {{ _('If you are sending documents by Royal Mail (including tracked, special delivery, signed for, and Parcelforce), send to:') }}
            </p>
            <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                Gender Recognition Panel<br>
                PO Box 11230<br>
                Leicester<br>
                LE1 8FQ
            </div>
            <p class="govuk-inset-text">
                {{ _('If you are sending documents by courier (for example, DPD, Evri, Fedex), please contact us first (details below).') }}
            </p>

            <p class="govuk-body">
                {{ context.copy_birth_death_marriage_link }}
                {{ context.scotland_norther_ireland_cert_link }}
            </p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">{{ _('Warning') }}</span>
                    {{ _('Do not send us any other documents unless we ask you to.') }}
                </strong>
            </div>

            <h2 class="govuk-heading-m">
                {{ _('What happens next with your application') }}
            </h2>

            <p class="govuk-body">
                {{ _('Once you’ve sent your documents, your application will be reviewed by the Gender Recognition Panel.') }}
                {{ _('This usually happens within 30 weeks of you applying.') }}
            </p>
            <p class="govuk-body">
                {{ _('We will let you know if your application has any errors or missing documents, or if the Panel needs any more information.') }}
                {{ _('We will ensure you have the time you need to provide any missing or additional information.') }}
            </p>
            <p class="govuk-body">
                {{ _('You will then be told if you will be issued with a Gender Recognition Certificate, and what you can do if your application has not been accepted.') }}
            </p>

            <h2 class="govuk-heading-m">
                {{ _('If you need to contact us') }}
            </h2>
            <p class="govuk-body">
                {{ _('Include your application reference number – we will send this to you by post when we have received your application.') }}
            </p>
            <p class="govuk-body">
                {{ _('If you need to contact us before you have received your application reference number, include your full name and postcode.') }}
            </p>
            {{ contact_admin.render() }}

        </div>
    </div>
{% endblock %}
