{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Payment') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Payment') }}
            </h1>

            <p class="govuk-body">
                {{ _('Applying for a Gender Recognition Certificate costs &pound;5.') }}
            </p>
            <p class="govuk-body">
                {{ _('You can') }}
                <a href="https://www.gov.uk/get-help-with-court-fees"
                   rel="external" target="_blank" class="govuk-link">
                    {{ _('apply online for help paying this fee (opens in a new tab)') }}
                </a>.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-8">
                {{ _('You can also download the EX160 form from that page and submit it with your application.') }}
            </p>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='applying_for_help_with_fee',
                    question=_("Are you applying for help paying the fee?"),
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m',
                        'hintOptions':{
                            'htmlOrText': _('If you select yes, your application for a Gender Recognition Certificate will only be reviewed if your application for help paying the fee is accepted.')
                        }
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
