{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/back_link.html" as back %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Enter security code') }}{% endblock %}

{% block backLink %}
    {{ back.renderFor('startApplication.index') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Enter security code') }}
            </h1>

            <p class="govuk-body">
                {{ _('We’ve sent a security code to') }} <strong>{{ email }}</strong>
            </p>
            <p class="govuk-body">
                {{ _('This can take a few minutes to arrive') }}.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                {{ _('If you do not get an email') }}:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>{{ _('check your spam or junk folder') }}</li>
                <li>{{ _('check you have entered the correct email') }}</li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-8">
                {{ _("If it's still not there, we can") }}
                <a href="{{ url_for('startApplication.securityCode') }}?resend=true" class="govuk-link govuk-link--no-visited-state">
                    {{ _('resend the email') }}
                </a>.
            </p>

            <form method="POST">
                {{ form.csrf_token }}

                {{ textInput.renderFor(
                    form,
                    fieldName='security_code',
                    textInputForOptions={
                        'labelOptions': {
                            'htmlOrText': _('Security code'),
                            'classes': 'govuk-label--m'
                        },
                        'autocomplete': 'off',
                        'classes': 'govuk-input--width-5',
                    }
                ) }}
                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
