{% from 'one-login/one-login-details-pdfkit.html' import oneLoginDetails %}
<!DOCTYPE html>
<html lang="en" class="govuk-template">
    <head>
        <meta charset="utf-8">
        <title>GOV.UK - Gender Recognition Certificate One Login Details</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#0b0c0c">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{{url_for('static', filename='app.css', _external=True)}}" rel="stylesheet">
    </head>

    <body class="govuk-template__body">
        {{ oneLoginDetails(application_data) }}
    </body>
</html>