{% macro oneLoginDetails(application_data) %}

    <h1 style="font-size: 24px;" >GOV.UK One Login details: {{ application_data.reference_number }}</h1>

    <h4 style="font-size: 16px;">Authentication details</h4>

    <ul class="govuk-list govuk-list--bullet" style="font-size: 16px;">
        <li>Email: {{ application_data.one_login_data.email }}</li>
        <li>Mobile phone: {{ application_data.one_login_data.phone_number }}</li>
    </ul>

    <h4 style="font-size: 16px;">Identity checking details</h4>

    <ul class="govuk-list govuk-list--bullet" style="font-size: 16px;">
        <li>Applicant residency: {{ application_data.one_login_data.email }}</li>
        <li>Photo ID from list provided:  {{ application_data.one_login_data.address.address_country }}</li>
        <li>Last Name:  {{ application_data.one_login_data.last_name }}</li>
        <li>First Name:  {{ application_data.one_login_data.first_name }}</li>
        <li>Middle name(s):  {{ application_data.one_login_data.middle_names }}</li>
        <li>Date of birth:  {{ application_data.one_login_data.date_of_birth }}</li>
        <li>Postcode:  {{ application_data.one_login_data.address.postal_code }}</li>
        <li>UK passport expiry date:  {{ application_data.one_login_data.passport.expiry_date }}</li>
        {% if application_data.one_login_data.identity_verified == True %}
            <li>Identity checking result: Passed</li>
        {% else %}
            <li>Identity checking result: Failed</li>
        {% endif %}
    </ul>


{% endmacro %}