{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Are you currently married or in a civil partnership?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Marriages and civil partnerships') }}
            </h1>

            <p class="govuk-body govuk-!-margin-bottom-8">
                {{ _('If you’ve ever been married or in a civil partnership, you need to upload a scan or good quality photograph of your marriage or civil partnership certificates.') }}
            </p>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='currently_married',
                    question=_("Are you currently married or in a civil partnership?"),
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m',
                        'hintOptions':{
                            'htmlOrText': _('If you are in the process of ending, or you plan to end your marriage or civil partnership, you should select your current, legal status')
                        },
                        'dividerOptions': [
                            ('Neither', _('or'))
                        ]
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
