{% extends 'base.html' %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Interim Gender Recognition Certificate') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <div class="interuption-card">
                <h1 class="govuk-heading-l">
                    {{ _('Interim Gender Recognition Certificate') }}
                </h1>

                <p class="govuk-body">
                    {{ context.interim_p1 }}
                </p>
                <p class="govuk-body">
                    {{ context.interim_p2 }}
                </p>
                <p class="govuk-body">
                    {{ context.interim_p3 }}
                </p>
                <p class="govuk-body">
                   {{ context.interim_p4 }}
                </p>
                <p class="govuk-body govuk-!-margin-bottom-8">
                    {{ context.interim_p5 }}
                </p>

                <form method="POST" action="#">
                    {{ form.csrf_token }}

                    {{ continue.renderFor() }}
                </form>
            </div>

        </div>
    </div>
{% endblock %}
