{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Declaration of consent') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('Declaration of consent') }}
            </h1>

            <p class="govuk-body">
                {{ context.link }}
            </p>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='partner_agrees',
                    question=context.question,
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m'
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
