{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/select-input.html" as selectInput %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('What is your address?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                    <fieldset class="govuk-fieldset" aria-describedby="fieldset-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {{ _('What is your address?') }}
                            </h1>
                        </legend>
                        <div class="govuk-hint" id="fieldset-hint">
                            {{ _('This should be the address that you want us to send your Gender Recognition Certificate to') }}.
                        </div>

                        {{ textInput.renderFor(
                            form,
                            fieldName='address_line_one',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Address line 1') },
                                'autocomplete': 'address-line1'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='address_line_two',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Address line 2 (optional)') },
                                'autocomplete': 'address-line2'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='town',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Town or city') },
                                'autocomplete': 'address-level1',
                                'classes': 'govuk-input--width-20'
                            }
                        ) }}

                        {{ selectInput.renderFor(
                            form,
                            fieldName='country',
                            selectInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Country (optional)') },
                                'options': countries
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='postcode',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Postcode or zipcode') },
                                'autocomplete': 'postal-code',
                                'classes': 'govuk-input--width-10'
                            }
                        ) }}
                    </fieldset>
                </div>

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
