{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('What is your affirmed gender?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='affirmedGender',
                    question=_("What is your affirmed gender?"),
                    radiosOptions={
                        'questionIsPageHeading': true,
                        'hintOptions':{
                            'htmlOrText': _('This will appear on your Gender Recognition Certificate.')
                        }
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
