{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/text-input.html" as textInput %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('What is your name?') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST" action="#">
                {{ form.csrf_token }}

                <div class="govuk-form-group {{ 'govuk-form-group--error' if form.errors }}">
                    <fieldset class="govuk-fieldset" aria-describedby="fieldset-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {{ _('What is your name?') }}
                            </h1>
                        </legend>
                        <p class="govuk-body">
                            {{ _('Enter your name exactly as it appears on either your latest change of name document or your birth certificate') }}.
                        </p>
                        <div class="govuk-hint govuk-!-margin-bottom-6" id="fieldset-hint">
                            {{ _('This will appear in full on your Gender Recognition Certificate') }}.
                        </div>
                        <div class="govuk-inset-text">
                            {{ _('If you want to use a different name from your birth certificate or change of name document, you should') }}
                            <a href="https://www.gov.uk/change-name-deed-poll"
                               target="_blank" class="govuk-link">
                                {{ _('change your name by deed poll (opens in a new tab)') }}
                            </a>
                            {{ _('before you apply for a Gender Recognition Certificate') }}.
                        </div>

                        {{ textInput.renderFor(
                            form,
                            fieldName='title',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Title') },
                                'hintOptions': { 'htmlOrText': _('For internal use only. This will not appear on your Gender Recognition Certificate.') },
                                'classes': 'govuk-input--width-5',
                                'autocomplete': 'honorific-prefix'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='first_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('First name') },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'given-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='middle_names',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Middle names (only required if you have middle names)') },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'additional-name'
                            }
                        ) }}

                        {{ textInput.renderFor(
                            form,
                            fieldName='last_name',
                            textInputForOptions={
                                'labelOptions': { 'htmlOrText': _('Last name') },
                                'classes': 'govuk-!-width-three-quarters',
                                'autocomplete': 'family-name'
                            }
                        ) }}
                    </fieldset>
                </div>

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
