{% extends 'base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back_link %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('If you have ever changed your name to reflect your gender') }}{% endblock %}

{% block backLink %}
    {{ back_link.renderForRawURL(back) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <h1 class="govuk-heading-l">
                {{ _('If you have ever changed your name to reflect your gender') }}
            </h1>
            <p class="govuk-body">
                {{ _('You will need to upload documents that show this') }}.
                {{ _('If you have changed your name more than once, we will need to see documents for each instance') }}.
            </p>
            <p class="govuk-body">
                {{ _('We ask for this so we can match your birth records after you receive a Gender Recognition Certificate') }}.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-2">
                {{ _('These documents are likely to be:') }}
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
                <li>{{ _('deed poll documents, either enrolled or unenrolled') }}</li>
                <li>{{ _('change of name documents (Scotland)') }}</li>
                <li>{{ _('statutory declarations') }}</li>
            </ul>

            <form method="POST" action="#">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='previousNameCheck',
                    question=_("Have you ever changed your name to reflect your gender?"),
                    radiosOptions={
                        'questionClasses': 'govuk-fieldset__legend--m'
                    }
                ) }}

                {{ continue.renderForSaveAndContinue() }}
            </form>

        </div>
    </div>
{% endblock %}
