{% extends 'document-checker/doc-checker-base.html' %}
{% import "govuk-design-system-templates/error-summary.html" as error_summary %}
{% import "govuk-design-system-templates/radios.html" as radios %}
{% import "govuk-design-system-templates/back_link.html" as back %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ question }}{% endblock %}

{% block backLink %}
    {{ back.renderFor('documentChecker.currentlyInAPartnership') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {{ error_summary.renderFor(form) }}

            <form method="POST">
                {{ form.csrf_token }}

                {{ radios.renderFor(
                    form,
                    fieldName='plan_to_remain_in_a_partnership',
                    question={{ question }},
                    radiosOptions={
                        'questionIsPageHeading': true
                    }
                ) }}

                {{ continue.renderFor() }}
            </form>

        </div>
    </div>
{% endblock %}
