{% extends 'document-checker/doc-checker-base.html' %}
{% import "govuk-design-system-templates/back_link.html" as back %}
{% import "govuk-design-system-templates/continue.html" as continue %}

{% block title %}{{ _('Documents you need to provide') }}{% endblock %}

{% block backLink %}
    {{ back.renderFor('documentChecker.genderRecognitionOutsideUK') }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                {{ _('Documents you need to provide') }}
            </h1>

            <p class="govuk-body">
                {{ _('Based on your answers, these are the documents you need for your application') }}.
            </p>
            <p class="govuk-body">
                {{ _('Some documents will be uploaded during the application process, while others need to be posted to us after you submit an application.') }}
            </p>

            <h2 class="govuk-heading-m">
                {{ _('Documents to upload') }}
            </h2>
            <p class="govuk-body">
                {{ _('You should upload a scan or good quality photograph of the following documents when you make your application') }}.
            </p>


            {% if doc_checker_state.need_to_send_name_change_documents %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Copies of all change of name documents') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {{ _('If you’ve changed your name to reflect your affirmed gender, upload copies of all documents that show when you’ve done this') }}.
                        {{ _('This includes enrolled or unenrolled deed polls and statutory declarations of name changes') }}.
                        {{ _('These copies do not need to be certified') }}.
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_medical_reports %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Medical reports') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('You need 2 reports written by either') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('2 different medical doctors registered in the UK') }}</li>
                            <li>{{ _('a medical doctor and a clinical psychologist, both registered in the UK') }}</li>
                        </ul>
                        <p class="govuk-body">
                            {{ _('Neither of the reports can be written by a nurse practitioner') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('The reports both need to include the name, practice address and contact details of the person who wrote the report') }}.
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ _('At least 1 of the 2 reports needs to include details of any gender affirmation treatment you’ve had or plan to have, including') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('any surgical treatments') }}</li>
                            <li>{{ _('any non-surgical treatments, such as hormone therapy') }}</li>
                            <li>{{ _('if you’ve not had any treatment and do not plan to have any, why that’s the case') }}</li>
                        </ul>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ _('The first report needs to confirm your gender dysphoria diagnosis and the clinical history this was based on, including') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('who made the diagnosis') }}</li>
                            <li>{{ _('when the diagnosis was made') }}</li>
                            <li>{{ _('what evidence was used to make the diagnosis') }}</li>
                        </ul>
                        <p class="govuk-body">
                            {{ _('This first report needs to be written by a registered doctor or clinical psychologist who practises in the field of gender dysphoria. You can find one of these by') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('asking your GP for a referral') }}</li>
                            <li>
                                {{ _('contacting someone on the') }}
                                <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-list-of-medical-practitioners-in-gender-dysphoria"
                                    target="_blank" class="govuk-link">
                                    {{ _('list of specialists in gender dysphoria (opens in a new tab)') }}
                                </a> -
                                {{ _('this is not a complete list and it’s not always up-to-date') }}
                            </li>
                        </ul>
                        <p class="govuk-body">
                            {{ _('If your registered doctor or clinical psychologist is not on the list of specialists, ask them to include a brief summary of their experience of practising in the field of gender dysphoria') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('The second report can be written by any registered doctor or clinical psychologist, including your GP, a surgeon or an endocrinologist') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('There’s no required content for this second report, and it can include the same information from the first report') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('The reports do not need to be specially written for your application, so long as they meet all the requirements') }}.
                            {{ _('You may already have suitable reports in your medical records') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('If you do need new reports written, you’ll probably need to pay for them even if you use NHS medical practitioners') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('There is a') }}
                            <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-writing-medical-reports" target="_blank" class="govuk-link">
                            {{ _('form that medical practitioners can use to write either of these reports (opens in a new tab)') }}
                            </a>.
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_evidence_of_living_in_gender %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Evidence of living in your affirmed gender for 2 years') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('You need copies of evidence to show that you’ve been living in your affirmed gender for the last 2 years') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('Each piece of evidence should contain at least one of the following that matches up with your affirmed gender') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('a name') }}</li>
                            <li>{{ _("a title, like 'Mr' or 'Miss'") }}</li>
                            <li>{{ _("a gender marker, like 'male' or 'female'") }}</li>
                        </ul>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ _('There are no other specific requirements for this evidence, but try to find') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('evidence from different points over the 2 years, with roughly 4 pieces of evidence from each year') }}</li>
                            <li>{{ _('at least one piece of evidence from the last 2 or 3 months') }}</li>
                            <li>{{ _('evidence from a variety of different sources') }}</li>
                        </ul>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ _('The evidence can come from before you were diagnosed with gender dysphoria') }}.
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            {{ _('Examples of what you can upload include good quality photocopies or photographs of') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('your driving licence') }}</li>
                            <li>{{ _('your passport') }}</li>
                            <li>{{ _('identity cards, like workplace IDs, student IDs, railcards, health insurance cards, library cards or supermarket loyalty cards') }}</li>
                            <li>{{ _('letters from solicitors, accountants, doctors, dentists or employers') }}</li>
                            <li>{{ _('bank statements') }}</li>
                            <li>{{ _('payslips, P60s and P45s') }}</li>
                            <li>{{ _('benefit letters') }}</li>
                            <li>{{ _('tax letters and documents, including council tax') }}</li>
                            <li>{{ _('credit reports') }}</li>
                            <li>{{ _('confirmation letters that you’re on the electoral register') }}</li>
                            <li>{{ _('student loan statements') }}</li>
                            <li>{{ _('utility bills, such as internet bills') }}</li>
                            <li>{{ _('rental agreements') }}</li>
                            <li>{{ _('academic certificates and documents') }}</li>
                        </ul>
                        <p class="govuk-body">
                            {{ _('You might be asked to send in more evidence after you submit your application') }}.
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_statutory_declaration_for_single_applicant %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Statutory declaration for single applicants') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('Fill in and sign a') }}
                            <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants" target="_blank" class="govuk-link">
                            {{ _('statutory declaration (opens in a new tab)') }}
                            </a>.
                            {{ _('Follow the guidance to find out who can act as a witness when you sign your declaration') }}.
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_statutory_declaration_for_applicant_in_partnership %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ context.stat_dec_applicant_summary }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        {{ _('Fill in and sign a') }}
                        <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants" target="_blank" class="govuk-link">
                        {{ _('statutory declaration (opens in a new tab)') }}
                        </a>.
                        {{ _('Follow the guidance to find out who can act as a witness when you sign your declaration') }}.
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_partners_statutory_declaration %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ context.stat_dec_partner_summary }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ context.stat_dec_partner_p1 }}
                            <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-statutory-declarations-for-applicants" target="_blank" class="govuk-link">
                                {{ _('statutory declaration (opens in a new tab)') }}
                            </a>.
                        </p>
                        <p class="govuk-body">
                            {{ _('Follow the guidance to find out who can act as a witness when they sign their declaration') }}.
                        </p>
                        <p class="govuk-body">
                            {{ context.stat_dec_partner_p2 }}
                            {{ context.stat_dec_partner_p3 }}
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_partnership_certificate %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ context.partner_cert_summary }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ context.partner_cert_p1 }}
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_death_certificate %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Death certificate for your spouse or civil partner') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('Upload a death certificate for your partner if their death ended the marriage or civil partnership – you can') }}
                            <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate" target="_blank" class="govuk-link">
                            {{ _('order a death certificate (opens in a new tab)') }}
                            </a>
                            {{ _('if their death was registered in the UK') }}.
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_decree_absolute %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Decree absolute or final order') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('Upload a scan or good quality photograph of your') }}
                            <a href="https://www.gov.uk/copy-decree-absolute-final-order" target="_blank" class="govuk-link">
                            {{ _('decree absolute or final order (opens in a new tab)') }}
                            </a>
                            {{ _('to show the marriage or civil partnership has ended') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('If you have been married or in a civil partnership more than once, you need a separate certificate for each marriage or civil partnership') }}.
                        </p>
                    </div>
                </details>
            {% endif %}


            {% if doc_checker_state.need_to_send_proof_gender_recognised_outside_uk %}
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            {{ _('Proof that your affirmed gender is recognised outside the UK') }}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p class="govuk-body">
                            {{ _('If your affirmed gender is already recognised in an') }}
                            <a href="https://www.gov.uk/government/publications/gender-recognition-certificate-list-of-approved-countries-and-territories" target="_blank" class="govuk-link">
                            {{ _('approved country or territory (opens in a new tab)') }}
                            </a>,
                            {{ _('you need a document that proves this') }}.
                        </p>
                        <p class="govuk-body">
                            {{ _('The document could be') }}:
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ _('something that’s equal to a Gender Recognition Certificate') }}</li>
                            <li>{{ _('an updated birth certificate') }}</li>
                            <li>{{ _('a court order') }}</li>
                            <li>{{ _('an entry in a legal register') }}</li>
                        </ul>
                    </div>
                </details>
            {% endif %}


            <h2 class="govuk-heading-m">
                {{ _('Documents to send by post') }}
            </h2>
            <p class="govuk-body">
                {{ _('You should post the following documents after you have submitted your application') }}.
            </p>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        {{ _('Birth or adoption certificate') }}
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">
                        {{ context.birth_cert_copy_link }}
                        {{ context.birth_cert_uk_link }}
                    </p>
                </div>
            </details>


            <h2 class="govuk-heading-m">
                {{ _('If any of your documents are not in English') }}
            </h2>
            <p class="govuk-body">
                {{ _('You’ll need to have your documents translated') }}.
                {{ _('The translator does not need to have any qualifications, so the translation can be done by a friend or a family member') }}.
            </p>
            <p class="govuk-body">
                {{ _('Get the translator to sign the translated documents and write down their translation qualifications if they have any') }}.
            </p>
            <p class="govuk-body">
                {{ _('You’ll need to send in both the original documents and the translations') }}.
            </p>
            <p class="govuk-body">
                {{ _('Once you have your documents ready you can') }}
                <a href="{{ url_for('startApplication.index') }}" class="govuk-link">
                {{ _('apply for a Gender Recognition Certificate') }}
                </a>.
            </p>


            <h2 class="govuk-heading-m">
                {{ _('Get this list by email') }}
            </h2>
            <p class="govuk-body">
                {{ _('If you want us to email you the list of documents, please click this button') }}.
            </p>
            <form method="get" action="{{ url_for('documentChecker.askForEmailAddress') }}">
                <button class="govuk-button" data-module="govuk-button">
                    {{ _('Email documents list') }}
                </button>
            </form>

        </div>
    </div>
{% endblock %}
